@font-face{
    font-family: "customfont";
    src: url(/Module8/webshop/assets/fonts/Bankzath.ttf);
}
body{
    background-color: black;
    overflow-x: hidden;
    color: white;
    margin: 0;
}
#buy img{
    right: 10px;
    bottom: 10px;
    height: 400px;
    position: fixed;
    z-index: 1000;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
#content{
    background-image: url(/Module8/webshop/assets/images/face.png);
    background-repeat: repeat;
    background-size: 150px;
    height: 5000px;
}
#header{
    background-color: black;
    height: 100px;
    width: 100%;
    margin-left: 0%;
    position: fixed;
    z-index: 2;
    font-family:customfont ;
}   
a{
    color: white    ;
    text-decoration: none;
    font-size: 40px; 
}    
#logo img{
    height: 100px;
} 
#shirts{
    position: fixed;
    top: 20px;
    right: 70%;
}
#pants{
    position: fixed;
    top: 20px;
    right: 50%;
}
#shoes{
    position: fixed;
    top: 20px;
    right: 30%;
}
#footer{
    height: 50px;
    width: 100%;
    background-color:black;
    bottom: 0px;
    text-align: right;
}
#tshirt1 img{
    position: absolute;
    top: 100px ;
    height: 500px;
    z-index: 1;
}
#tshirt1text{
    position: relative;
    right: -600px;
    top: 110px;
    height: 44 0px;
    width: 900px;
    background-color: black;
}
#title{
    font-size: 60px;
}
#image img{
    position: absolute;
    top: 100px ;
    height: 500px;
    z-index: 1;
}
#shirt1text{
    position: relative;
    right: -600px;
    top: 110px;
    height: 44 0px;
    width: 900px;
    background-color: black;
    font-size: 20px;
}
#picture1{
    display: block;
    position: relative;
    top: 300px;
    margin-left: auto;
    margin-right: auto;
}
#picture2{
    display: block;
    position: relative;
    top: 400px;
    margin-left: auto;
    margin-right: auto;
}
#picture3{
    display: block;
    position: relative;
    top: 500px;
    margin-left: auto;
    margin-right: auto;
}
#prise{
    position: absolute;
    filter: invert();
    height: 170px;
    right: 110px;
    top: 170px;
}
